@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat Alternates', sans-serif;
    list-style: none;
}

.section-p1{
    padding: 40px 40px;
}

.section-m1{
    padding: 40px
}

button.normal{
    font-size: 16px;
    font-weight: 600;
    padding: 14px 28px;
    color:black;
    background-color: white;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 4px;
    transition: 0.2s;
}



h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size: 20px;
    /* color: #222; */
    color: white;
}

h6{
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}


/* Styling our header */

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0,0,0, 0.06);
    position: sticky;
    z-index: 999;
    top: 0;
    left: 0;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li a{
    padding: 0 20px;
    font-size: 16px;
    font-weight: 600;
    color: #4a4a4a;
}

#navbar li :hover,
#navbar li .active{
    color: #7E4897;
    transition: 0.3s ease-in-out;
}
#menu{
    display: none;
    align-items: center;
}
#close{
    display: none;
}


/* Styling our hero section */
#hero{
    background-image: url("img/hero.png");
    height: 90vh;
    width: 100%;
    background-position: top 25% right 0;
    background-size: cover;
    padding: 10px 40px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
#hero .main{
    margin-top: -150px;
}
#hero span{
    color: #7E4897;
}
#hero h4{
    padding-bottom: 10px;
    color: blue;
}
#hero p{
    color: white;
}
#hero button{
    background-image: url(./img/button.png);
    background-color: transparent;
    color: #7E4897;
    border: 0;
    padding: 15px 80px 14px 65px;
    cursor: pointer;
    background-repeat: no-repeat;
    font-weight: 600;
    font-size: 15px;
}


/* styling our featured section */

#proudcts {
    text-align: center;
}
 .section-p1 .container{
    display: flex;
    /* display: grid; */
    /* grid-template-columns: auto auto; */
    /* justify-content: space-between; */
    justify-content: space-around; 
    padding-top: 20px;
    flex-wrap: wrap;
}

#proudcts .pro{
    width: 25%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.4s ease;
    position: relative;
}

/* this is the picture */
#proudcts .pro .item{
    width: 100%;
    border-radius: 10px;
}

#proudcts .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.10);
    /* scale: 1.009; */
    transition: ease 0.5s;
}

#proudcts .pro .description{
    text-align: start;
    padding: 10px 0;
}

#proudcts .pro .description span{
color: #4a4a4a;
font-size: 12px;
}

#proudcts .pro .description h5{
    padding-top: 8px;
    color: #131313;
    font-size: 14px;
}

#proudcts .pro .description i{
    padding-top: 8px;
    font-size: 14px;
   color: black;
}


#proudcts .pro .description h4{
    padding-top: 8px;
    font-size: 15px;
    font-weight: 700;
    color: #7E4897;
}

#proudcts .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    color:white;
    font-weight: 400;
    background-color: #7E4897;
    border-radius: 50%;
    align-content: center;
    position: absolute;
    bottom: 20px;
    right: 10px;
}


#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(./img/banner/b2.jpg);
    width: 100%;
    height: 30vh;
    background-size: cover;
    background-position: center;
}

.services {
    color: white !important;
    font-size: 18px;
}

#banner h2{
    color: white;
    font-size: 30px;
    padding: 10px 0;
}
#banner h2 span{
    color: #7E4897;
}

#banner button:hover{
    scale: 1.009;
    background-color: #7E4897;
    color: #ffffff;
}

#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}




#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 40px;
    background-image: url(./img/banner/b10.jpg);
    min-width: 600px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    width: 100%;
    margin-bottom: 10px;
}

#sm-banner .banner-box2{
    background-image: url(./img/banner/b17.jpg);
    margin-bottom: 0px;
}

#sm-banner .banner-box h4{
    color: white;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;

}

#sm-banner .banner-box h2{
    color: white;
    font-size: 40px;
    font-weight: 600;
}
#sm-banner .banner-box span{
    color: wheat;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 15px;

}


button.white{   
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
    padding: 12px 26px;
    color:white;
    border: 2px solid white;
    background: transparent;
    cursor: pointer;
    outline: none;
    transition: 0.31s ease;
} 

#sm-banner .banner-box button:hover{
    color:white;
    background-color:#7E4897;
    border: 2px solid #7E4897;
} 

#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(./img/banner/b7.jpg);
    min-width: 30%;
    height: 30vh;
    padding: 20px;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}

#banner3 .banner-box h2{
    color: white;
    font-weight: 600;
    font-size: 22px;
}

#banner3 .banner-box h3{
    color:#7E4897;
    font-weight: 800;
    font-size: 15px;
    text-transform: uppercase;
}

#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 40px;
}
#banner3 .banner-box2{
    background-image: url("./img/banner/b4.jpg");
    cursor: pointer;
}
#banner3 .banner-box3{
    background-image: url("./img/banner/b18.jpg");
    cursor: pointer;
}


/* styling our newsletter */
#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(./img/banner/b1.jpg);
    background-position: 20% 30%;
}

#newsletter h4{
    font-size: 24px;
    font-weight: 600;
    color: white;
}
#newsletter p{
    font-size: 16px;
    font-weight: 600px;
    color: white;
}
#newsletter p span{
    color:#7E4897
}

#newsletter input{
    height: 34px;
    padding: 0 14px;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 2px;
    outline: none;
}
#newsletter button{
    background-color: #7E4897;
    color: white;
    white-space: nowrap;
    margin-top: 5px;
}




.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* margin-bottom: 20px;*/
}

footer .logo{
    /* width: fit-content; */
    margin-bottom: 25px;
}

footer h3{
    font-size: 15px;
    padding-bottom: 10px;
}

footer p{
    font-size: 12px;
    margin: 0 0 8px 0;
    padding-bottom: 10px;
}
footer a{
    font-size: 13px;
    color: #131313; 
}


.copywrite{
    padding-top: 20px;
    text-align: center;
}

.aboutus a , .account a{
    padding-bottom: 10px;
}

footer .icons i{
    cursor: pointer;
    padding-right: 5px;
} 
footer .install .row img{
    border: 0.5px solid #7E4897;
}

footer .install img,footer .install p{
    margin: 3px 0px;
}

footer .icons i:hover,
footer a:hover{
    color: #7E4897;
}


@media(max-width:799px){
    #hero .main {
        padding-top: none;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right:-300px;
        height: 60vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0,0,0,0.1);
        padding: 80px 0 0 10px;
        transition: 0.4s ease;
    }

    #navbar.active{
        right: 0px;
    }


    #navbar li{
        margin-bottom: 25px;
    }
    #menu{
        display: flex;
        align-items: center;
    }
    #menu i{
        color: #131313;
        font-size: 20px;
        padding-left: 24px;
    }

    #close{
        position: absolute;
        top: 30px;
        left: 30px;
        color: #131313;
        font-size: 20px;
        display: flex;
        /* display: initial; */
    }
    #lg-bag{
        display: none;
    }


    #hero {
        height: 70vh;
        padding: 10px 40px;
        background-position: top 30% right 30%;
    }
    #banner {
        height: 20vh;
    }
    #sm-banner .banner-box {
        min-width: 100%;
        height: 30vh;
        margin-bottom: 10px;
    }
    #banner3 .banner-box {
        /* width: 25%;*/
        width: 28%;
    }
    footer h3 {
        font-size: 15px;
        padding-bottom: 10px;
        padding-top: 5px;
    }

}   

@media (max-width: 478px) {
    #header {
        padding: 10px 30px;
    }
    #menu i {
        color: #131313;
        font-size: 14px;
        padding-left: 24px;
    }
    
    h4{
    font-size: 20px;
}
    h2 {
        font-size: 38px;
    }
      #hero {
        padding: 40px 30px;
        background-position: 65% ;
    }
    #proudcts .pro {
        width: 100%;
    }
    #sm-banner .banner-box h4 {
        color:blue;
        font-size: 16px;
        font-weight: 800;
        text-transform: uppercase;
        margin-top: 100px;
    }
    
 }
  
